{% extends 'nav.html' %}
{% block index %}
    <span>锦时</span>
    <span><i>/</i>留言管理</span>
{% endblock %}
{% block MainBody %}
    <div class="RecordList">
       <h1>独白列表</h1>
       <div class="panel">
    	  <table class="table">
             	 <thead>
             	 	<th class="InSort">编号</th>
             	 	<th class="FaData">发表日期</th>
             	 	<th>独白标题</th>
             	 	<th class="KindLable">天气</th>
             	 	<th class="Options">操作</th>
             	 </thead>
             	 <tbody>
             	 	<tr>
             	 		<td class="InSort">01</td>
             	 		<td class="FaData">2017-5-20</td>
             	 		<td>庆祝锦时今日开启</td>
             	 		<td class="KindLable">晴</td>
             	 		<td class="Options">
             	 		  <span class="btn btn-info">
							  <i class="fa fa-edit fa-fw"></i>
						  </span>
						  <span class="btn btn-danger">
							  <i class="fa fa-trash-o fa-fw"></i>
						  </span>
					    </td>
             	 	</tr>
             	 </tbody>
          </table>
       </div>
    </div>
    <style type="text/css">
       #Record li:last-child{background:#31383e;}
       #Record li:last-child a{color:#f2f2f2;}
    </style>
    <script>
        $('#Record').addClass('active');
        $('#RecordBtn i').addClass('SlideDown').removeClass('SlideUp');
        $('#Record').slideToggle(0);
    </script>
{% endblock %}