{% extends 'nav.html' %}
{% block index %}
    <span>锦时</span>
    <span><i>/</i>用户管理</span>
{% endblock %}
{% block MainBody %}
    <div class="MessageList">
       <h1>用户列表</h1>
       <div class="panel">
    	  <table class="table table-hover">
            <thead>
             	 	<th class="InSort">编号</th>
             	 	<th class="Visitmark">昵称</th>
             	 	<th class="Visitname">账户</th>
             	 	<th class="Visitpass">密码</th>
             	 	<th class="Visitimg">头像</th>
                <th class="Visitsafe">密保</th>
             	 	<th class="Options">操作</th>
            </thead>
            <tbody>
                {% for visiter in visiters %}
             	 	<tr>
             	 		<td class="TableId">{{visiter._id.toString()}}</td>
             	 		<td>{{visiter.visitmark}}</td>
             	 		<td>{{visiter.visitname}}</td>
             	 		<td>{{visiter.visitpass}}</td>
             	 		<td class="VisiterImg"><img src=../{{visiter.visitimg}}></td>
                  <td>{{visiter.visitsafe}}</td>
             	 		<td class="Options">
             	 		  <span class="btn btn-info">
							        <i class="fa fa-edit fa-fw"></i>
						        </span>
						        <span class="btn btn-danger">
							        <i class="fa fa-trash-o fa-fw"></i>
						       </span>
					        </td>
             	 	</tr>
                {% endfor %}
             </tbody>
          </table>
          {% include 'page.html' %}
          <div class="clearfix"></div>
       </div>
    </div>
    <style type="text/css">
       #VisiterBtn{background:#31383e;}
       #VisiterBtn a,#VisiterBtn span{color:#f2f2f2;}
    </style>
{% endblock %}