<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>锦时后台管理</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/manage.css">
</head>
<body>
    <header>
        <div class="WebTitle">
            <span><i class="fa fa-paper-plane"></i>锦时后台管理</span>
        </div>
        <div class="TopFind">
        	<span>锦时</span>
        	<span><i>/</i>文章管理</span>
        	<span><i>/</i>文章发布</span>
        </div>
        <div class="Manager">
        	<img src={{visitInfo.visitimg}}>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="Wrapage">
		<div class="Leftnav">
			<ul class="NavContain">
			    <li><a href='home'><span class="fa fa-home"></span>锦时</a></li>
			    <li class='FormBtn' id="WebTatalBtn">
				   <a href='#'>
				      <span class="fa fa-bar-chart"></span>网站管理
                   </a>
				</li>
			    <li id="ArticleBtn">
			       <a href='#'>
			           <span class="fa fa-edit"></span>文章管理
                       <i class="fa fa-chevron-up"></i>
			       </a>
			    </li>
			    <!-- 文章管理 -->
			    <div class="DownMenu" id="Article">
			       <li class='FormBtn' id="ArticleReleaseBtn"><a href='#'>文章发布</a></li>
			       <li class='FormBtn' id="ArticleListBtn"><a href='#'>文章列表</a></li>
			    </div>
                <li id="RecordBtn">
				   <a href='#'>
					  <span class="fa fa-star-o"></span>独白管理
					  <i class="fa fa-chevron-up"></i>
				   </a>
				</li>
				<!-- 独白管理 -->
				<div class="DownMenu" id="Record">
			       <li class='FormBtn' id="RecordReleaseBtn"><a href='#'>独白发布</a></li>
			       <li class='FormBtn' id="RecordListBtn"><a href='#'>独白列表</a></li>
			    </div>
				<li id="MessageBtn">
				   <a href='#'>
				      <span class="fa fa-envelope-o"></span>留言管理
                      <i class="fa fa-chevron-up"></i>
				   </a>
				</li>
				<!-- 留言管理 -->
				<div class="DownMenu" id="Message">
			       <li class='FormBtn' id="MessageListBtn"><a href='#'>留言列表</a></li>
			    </div>
			    
			</ul>
		</div>
		<div class="MainContain">
		    <!-- 文章发布 -->
		    <div class="ArticleRelease">
		       <h1>文章发布</h1>
		       <div class="panel">
		          <form>
	    		    <h2>标题</h2>
	    			<input class="form-control" type="text"></input>
	    			<h2>作者</h2>
	    			<input class="form-control" type="text"></input>
	    			<h2>标签</h2>
	    			<div class="form-group KindChoose">
	    				<input name="KindChoose"  id='CSS' type="radio" checked="true"><label for="CSS">CSS</label>
	    				<input name="KindChoose"  id='H5'  type="radio"><label for="H5">H5</label>
	    				<input name="KindChoose"  id='Js'  type="radio"><label for="Js">Js</label>
	    				<input name="KindChoose"  id='Node'  type="radio"><label for="Node">Node</label>
	    				<input name="KindChoose"  id='Canvas'  type="radio"><label for="Canvas">Canvas</label>
	    			</div>
	    			<h2>备注</h2>
	    			<div class="form-group AddInfo">
	    				<input name="AddInfo"  id='OwnWrite' type="radio" checked="true"><label for="OwnWrite">原创</label>
	    				<input name="AddInfo"  id="Reprint"  type="radio" ><label for="Reprint">转载</label>
	    				<div class="ReprintInfo">
                    	   <h2>转载说明</h2>
                    	   <input class="form-control" type="text"></input>
                        </div>  
                    </div>		
                    <h2>编辑文本</h2>
	    			<textarea class="form-control"></textarea>
	    			<button class="btn btn-success" type="submit">发布</button>
	    			<button class="btn btn-danger" type="reset">重置</button> 
	    		  </form>
		       </div>
		    </div>
		    <!-- 文章列表 -->
		    <div class="ArticleList">
               <h1>文章列表</h1>
		       <div class="panel">
		          <table class="table">
		             	 <thead>
		             	 	<th class="InSort">编号</th>
		             	 	<th class="FaData">发表日期</th>
		             	 	<th>文章标题</th>
		             	 	<th class="KindLable">标签</th>
		             	 	<th class="AddInfor">备注</th>
		             	 	<th class="Number">浏览量</th>
		             	 	<th class="Number">评论数</th>
		             	 	<th class="Number">赞同数</th>
		             	 	<th class="Options">操作</th>
		             	 </thead>
		             	 <tbody>
		             	 	<tr>
		             	 		<td class="InSort">01</td>
		             	 		<td class="FaData">2017-5-20</td>
		             	 		<td>Float父层浮动引起父层坍塌解决方法</td>
		             	 		<td class="Number">Css</td>
		             	 		<td class="AddInfor">原创</td>
		             	 		<td class="Number">10</td>
		             	 		<td class="Number">2</td>
		             	 		<td class="Number">2</td>
		             	 		<td class="Options">
		             	 		  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
								  </span>
							    </td>
		             	 	</tr>
		             	 	<tr>
		             	 		<td class="InSort">01</td>
		             	 		<td class="FaData">2017-5-20</td>
		             	 		<td>Float父层浮动引起父层坍塌解决方法</td>
		             	 		<td class="Number">Css</td>
		             	 		<td class="AddInfor">原创</td>
		             	 		<td class="Number">10</td>
		             	 		<td class="Number">2</td>
		             	 		<td class="Number">2</td>
		             	 		<td class="Options">
		             	 		  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
								  </span>
							    </td>
		             	 	</tr>
		             	 </tbody>
		          </table>
		       </div>
            </div>
            <!-- 独白发布 -->
            <div class="RecordRelease">
		       <h1>独白发布</h1>
		       <div class="panel">
		    	  <form>
		    		    <h2>标题</h2>
		    			<input class="form-control" type="text"></input>
		    			<h2>心情</h2>
		    			<input class="form-control" type="text"></input>
		    			<h2>天气</h2>
		    			<input class="form-control" type="text"></input>
		    			<h2>编辑文本</h2>
		    			<textarea class="form-control"></textarea>
		    			<button class="btn btn-success" type="submit">发布</button>
		    			<button class="btn btn-danger" type="reset">重置</button>
		    	  </form>
		       </div>
		    </div>
		    <!-- 独白列表 -->
		    <div class="RecordList">
               <h1>独白列表</h1>
		       <div class="panel">
		    	  <table class="table">
		             	 <thead>
		             	 	<th class="InSort">编号</th>
		             	 	<th class="FaData">发表日期</th>
		             	 	<th>独白标题</th>
		             	 	<th class="KindLable">天气</th>
		             	 	<th class="Options">操作</th>
		             	 </thead>
		             	 <tbody>
		             	 	<tr>
		             	 		<td class="InSort">01</td>
		             	 		<td class="FaData">2017-5-20</td>
		             	 		<td>庆祝锦时今日开启</td>
		             	 		<td class="KindLable">晴</td>
		             	 		<td class="Options">
		             	 		  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
								  </span>
							    </td>
		             	 	</tr>
		             	 </tbody>
		          </table>
		       </div>
            </div>
            <!-- 文章列表 -->
		    <div class="MessageList">
               <h1>留言列表</h1>
		       <div class="panel">
		    	  <table class="table table-hover">
		             	 <thead>
		             	 	<th class="InSort">编号</th>
		             	 	<th class="FaData">留言日期</th>
		             	 	<th class="UserId">用户名</th>
		             	 	<th>留言内容</th>
		             	 	<th class="Number">回复数</th>
		             	 	<th class="Options">操作</th>
		             	 </thead>
		             	 <tbody>
		             	 	<tr>
		             	 		<td class="InSort">01</td>
		             	 		<td class="FaData">2017-5-20</td>
		             	 		<td class="UserId">蒹葭</td>
		             	 		<td>吾之素年，汝与锦时。与你相见，不甚欣喜。留笔墨一二，互通有无。或有指点，愿闻其详</td>
		             	 		<td class="Number">10</td>
		             	 		<td class="Options">
		             	 		  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
								  </span>
							    </td>
		             	 	</tr>
		             	 </tbody>
		          </table>
		       </div>
            </div>
            <!-- 网站统计 -->
            <div class="WebTatal">
                <h1>网站管理</h1>
                <div class="Statistical">
			        <div class="panel">
			            <div class="FontAdd">
			            	<span class="VisitNum">100</span>
			                <b>访问数</b>
			            </div>
	                    <div class="panelicon danger">
			            	<span class="fa fa-eye"></span>
			            </div>
			        </div>
			        <div class="panel">
			            <div class="FontAdd">
			            	<span class="VisitNum">100</span>
			                <b>文章数</b>
			            </div>
			       	    <div class="panelicon info">
			            	<span class="fa fa-edit"></span>
			            </div>
			        </div>
			        <div class="panel">
			            <div class="FontAdd">
			            	<span class="VisitNum">100</span>
			                <b>独白数</b>
			            </div>
			       	    <div class="panelicon success">
			            	<span class="fa fa-star"></span>
			            </div>
			        </div>
			        <div class="panel">
			            <div class="FontAdd">
			            	<span class="VisitNum">100</span>
			                <b>留言数</b>
			            </div>
			       	    <div class="panelicon warning">
			            	<span class="fa fa-envelope-o"></span>
			            </div>
			        </div>
		            <div class="clearfix"></div>
		        </div>
		        <div class="panel WillDo">
		        	<div class="conlimit">
				       <ul class="havedo">
			           	   <li>
				           	   <label class="bg-yellow">Plan 1</label>
				           	   <span></span>
				           	   <div class="DoEdit">
				           	   	  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
							      </span>
				           	   </div>
				           </li>
			           	   <li>
			           	       <label class="bg-green">Plan 2</label>
			           	       <span></span>
			           	       <div class="DoEdit">
				           	   	  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
							      </span>
				           	   </div>
			           	   </li>
			           	   <li>
			           	       <label class="bg-blue">Plan 3</label>
			           	       <span></span>
                               <div class="DoEdit">
				           	   	  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
							      </span>
				           	   </div>
			           	   </li>
			           	   <li>
			           	       <label class="bg-pink">Plan 4</label>
			                   <span></span>
			                   <div class="DoEdit">
				           	   	  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
							      </span>
				           	   </div>
			           	   </li>
			           	   <li>
			           	       <label class="bg-red">Plan 5</label>
			                   <span></span>
			                   <div class="DoEdit">
				           	   	  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
							      </span>
				           	   </div>
			           	   </li>
				       </ul>
			           <div class="clock">
				 	        <canvas width="200" height="200" id="clock" >
				            </canvas>
				 	   </div>
				 	   <div class="clearfix"></div>
	 	            </div>
		        </div>
		        <div class="panel ManagerList">
		    	    <table class="table">
		             	 <thead>
		             	 	<th class="InSort">编号</th>
		             	 	<th class="TheManager">管理员</th>
		             	 	<th class="UserId">账户</th>
		             	 	<th class="UserPass">密码</th>
		             	 	<th class="Options">操作</th>
		             	 </thead>
		             	 <tbody>
		             	 	<tr>
		             	 		<td class="InSort">01</td>
		             	 		<td class="TheManager">admin</td>
		             	 		<td class="UserId">admin</td>
		             	 		<td class="UserPass">13244235072</td>
		             	 		<td class="Options">
		             	 		  <span class="btn btn-info">
									  <i class="fa fa-edit fa-fw"></i>
								  </span>
								  <span class="btn btn-danger">
									  <i class="fa fa-trash-o fa-fw"></i>
								  </span>
							    </td>
		             	 	</tr>
		             	 </tbody>
		            </table>
		        </div>
            </div>
	      </div>
    </div>	      
	<script src="public/js/jquery.min.js"></script>
	<script src="public/js/manage.js"></script>
	<script src="public/js/clock.js"></script>
</body>
</html>