.NavList:nth-child(3) .MenuAdd::before
               {opacity:1;left:-7px;}                 
.NavList:nth-child(3) .MenuAdd::after
               {opacity:1;right:-7px;}
.MainBody{margin-top:-100px;}   
.MainTop{height:100px;padding:10px 0;}
.MainTop p{margin:10px 0 0 0;}
.TopTab{border-bottom: 1px solid #e0e0e0;
        margin:30px 0 20px 0;
        padding: 10px 0;}
.LetterModule{border-bottom:1px solid #e0e0e0;
	            margin-bottom:20px;}
/* 头像 */            
.ImgContain{width:7.5%;float:left;}  
.LetterImg{width:100%;
           height:100%;
           border-radius:10px;
           background-size:60px;
           border: 2px solid rgba(10,10,10,0.1);}
/* 留言信息 */
.LetterContain{width:90%;float:left;padding:0 2.5% 10px 2.5%;}
.VisitInfo span{display:block;line-height:30px;}
.VisitName{color:#333;font-size:16px;font-weight:700}
.TimeContain{color:#666;font-size:12px;}
.VisitTime{font-weight:300;margin-left:10px;}
/* 回复 */
.Answer{width:2.5%;float:left;text-align:center;cursor:pointer;margin-top:6px;}
.Answer span{font-size:22px;}
.Answer i{margin-left:-3px;font-size:12px;font-weight:700;}
/* 留言回复 */
.AllAnswer{padding-left:10%;display:none;}
.Answerit{display:inline-block;
          padding:6px 12px;
          color: #333;
          border:1px solid #ccc;
          border-radius:4px;
          margin:0 0 20px 0;
          cursor:pointer;}
.AllAnswer form{margin-top:-20px;display:none;}
/* 留言form */
.FormList li{margin:20px 0;}
.FormList li span{display:block;width:60px;line-height:34px;float:left;text-align:left;}
#ShowImg{width:100px;height:100px;border-radius:50px;cursor:pointer;border: 2px solid rgba(10,10,10,0.1);}
#ImgChoose{display:none;}
#ImgChoose img{width:80px;height:80px;border-radius:40px;cursor:pointer;}
textarea.form-control{resize:none;height:200px;}
button{margin-left:60px;}
.form-control{width:55%;display:inline-block;}
.PageNumber{padding:20px 0}     
.PageNumber span{display:inline-block;
	               margin-right:5px;
        				 width:30px;
        				 line-height:30px;
        				 text-align:center;
        				 border-radius:2px;
        				 cursor:pointer;} 
.Active{background:#c3c3c3;}
.CantUse{border:1px solid #f3f3f3;color:#aaa}     
@media screen and (max-width: 365px){
    .MainTop p{margin-top:-2px;}
}        