.MessageContain{margin-top:20px;}               
.Messagetop{height:100px;padding:10px 0;}
.Messagetop p{margin:10px 0 0 0;}
/* 留言模块 */  
.TopLine{border-bottom: 1px solid #e0e0e0;
        margin:10px 0 20px 0;
        padding: 10px 0;}
.LetterModule{border-bottom:1px solid #e0e0e0;
              margin-bottom:20px;}        
/* 头像 */            
.ImgContain{width:7.5%;float:left;}  
.LetterImg{width:100%;
           height:100%;
           border-radius:10px;
           background-size:60px;
           border: 2px solid rgba(10,10,10,0.1);}
/* 留言信息 */
.LetterContain{width:90%;float:left;padding:0 2.5% 10px 2.5%;}
.VisitInfo span{display:block;line-height:30px;}
.VisitName{color:#333;font-size:16px;font-weight:700}
.TimeContain{color:#666;font-size:12px;}
.VisitTime{font-weight:300;margin-left:10px;}
/* 回复 */
.Answer{width:2.5%;float:left;text-align:center;cursor:pointer;margin-top:6px;}
.Answer span{font-size:22px;}
.Answer i{margin-left:-3px;font-size:12px;font-weight:700;}
/* 留言回复 */
.AllAnswer{padding-left:10%;display:none;}
.Answerit{display:inline-block;
          padding:6px 12px;
          color: #333;
          border:1px solid #ccc;
          border-radius:4px;
          margin:0 0 20px 0;
          cursor:pointer;}
.AnswerForm  button{margin-left:55px !important;}   
.AnswerForm .alert{margin-left:55px;}       
.AllAnswer form{margin-top:-20px;display:none;}
/* 留言板 */ 
.TopTab{border-bottom: 1px solid #e0e0e0;
        height:52px;
        margin:20px 0;
        position:relative;} 
.TabName{position:absolute;bottom:10px;}        
.LandInfo{float:right;position:relative;}        
.LandInfo span{display:inline-block;
                width:200px;
                text-align:right;
                position:absolute;
                bottom:10px;
                right:60px;
                font-size:14px;
                line-height:14px;}
.LandInfo b{font-weight:500;cursor:pointer;} 
.LandInfo a:hover,.LandInfo b:hover{color:red}               
.LandInfo i{margin:0 5px 0 10px;font-size:16px}
.OnLand{width:50px;height:50px;border-radius:25px;background:#eee;border-radius:25px;cursor:pointer;}  
.LandInfo img{width:50px;border-radius:25px;}  
.alert{padding:8px 12px;margin:0 0 20px 60px;width:55%;}
.alert i{margin:-5px 20px 0 0;vertical-align:middle}
/* 留言form */
.FormList li{margin:0 0 20px 0;}
.FormList li:last-child{margin:0;}
.FormList li span{display:block;width:7%;line-height:34px;float:left;text-align:left;}
#ShowImg{width:100px;height:100px;border-radius:50px;cursor:pointer;border: 2px solid rgba(10,10,10,0.1);}
#ImgChoose{display:none;}
#ImgChoose img{width:80px;height:80px;border-radius:40px;cursor:pointer;}
textarea.form-control{resize:none;height:100px;width:93%;}
button{margin-left:60px;outline:none !important;}
form button:nth-child(2){margin-left:0px;}
.form-control{width:55%;display:inline-block;}
@media screen and (max-width: 365px){
    .Messagetop p{margin-top:-2px;}
}  
/* 登陆与注册 */     
#Register{display:none;}