*{margin:0;padding:0;border:none;font-family:"Microsoft Jhenghei";}
body{color:#333; 
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
    }
h1,h2,h3,h4,h5,h6{margin:10px 0 10px 0;}
ul{list-style:none;text-decoration:none;margin:0;}
li{list-style:none;}
a{color:#333;}
a:hover{text-decoration:none;color:#333;}
a:focus{outline:none;text-decoration:none;color:#333;}
aside{position:fixed;top:0;left:0;width:280px;height:100%;background:#4c4c4c;}
header{height:100px;width:100%;box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);}    
.fa{vertical-align:top;} 
.clearfix{clear:both} 
.TheNav{width:176px;
        margin:0 62px;
        background:#4c4c4c;} 
.NavList{width:100%;
         height:80px;
         line-height:80px;
         display:inline-block;
         position:relative;
         color:#c3c3c3;} 
.NavList:hover{cursor:pointer;color:#fff}  
.MenuCat{position:absolute;
         top:50%;
         margin-top:-22px;
         right:0;
         height:44px;}  
.NavList:hover .MenuCat{animation:wobble 2s;
                        -moz-animation:wobble 2s;
          						  -webkit-animation:wobble 2s;
          						  -o-animation:wobble 2s;}
.MenuAdd{font-size:14px;position:relative;} 
.MenuAdd::before,.MenuAdd::after
                {content:"";
                 position:absolute;
                 opacity:0;
                 transition:.3s;
                 -moz-transition:.3s;
      				   -webkit-transition:.3s;
      				   -o-transition:.3s;
                }
.MenuAdd::before{width:90px; 
                 height:40px;
                 border-top:2px solid #c3c3c3;
                 border-left:2px solid #c3c3c3;
                 top:-10px;
                 left:-10px;
                 }                   
.MenuAdd::after{ width:90px; 
                 height:40px;
                 border-bottom:2px solid #c3c3c3;
                 border-right:2px solid #c3c3c3;
                 bottom:-10px;
                 right:-10px;}  
.NavList:hover .MenuAdd::before
               {opacity:1;left:-7px;}                 
.NavList:hover .MenuAdd::after
               {opacity:1;right:-7px;} 
.SelfIntrdct{width:240px;
             opacity:0;
             margin: auto;
             text-align:justify;
             }
.SelfIntrdct span{margin-right:10px;color:#fff;}                  
.SelfIntrdct li{line-height:40px;color:#aaaaaa}
.SelfIntrdct img{float:right;cursor:pointer;}   
.TitleLogn{height:40px;
  	       margin:50px 60px 0 60px;
  	       text-align:center;
  	       line-height:40px;
  	       width:160px;
  	       font-size:22px;
           position:relative;
           color:#c3c3c3;
           }
.TitleWord span::before,.TitleWord span::after
          {width:25px; 
           height:25px;
           content:"";
           position:absolute;
           border-radius:5px}  
.TitleWord i{font-size:12px;margin-left:10px}           
.TitleWord span::before{
	           border-top:2px solid #c3c3c3;
             border-left:2px solid #c3c3c3;
             top:0px;
             left:0px;}  
.TitleWord span::after{
	         border-bottom:2px solid #c3c3c3;
           border-right:2px solid #c3c3c3;
           right:0px;
           bottom:-2px;}
.OwnPicture{width:180px;
            height:180px;
            border-radius:100px;
            background:url("../images/nav/maomi.jpg") no-repeat center;
            background-size:180px;
            border:8px solid rgba(10,10,10,0.2);
            margin:40px 50px;
            } 
#IsFixBar{width:26px;
	        height:26px;
          position:absolute;
          top:20px;
          right:30px;
          font-size:20px;
          text-align:center;
          line-height:24px;
          cursor:pointer;
          color:#c3c3c3;}  
.Islock{position:absolute;
		    top:0;
		    width:22px;
		    transform:rotateY(180deg) translateX(3px);
        -webkit-transform:rotateY(180deg) translateX(3px);	
        -moz-transform:rotateY(180deg) translateX(3px);
        }
.lock{position:absolute;top:9px;width:22px;}           

.MainBody{width:870px;
          margin:auto;
          position:relative;
          transform:translateX(140px);
          -webkit-transform:translateX(140px);	
          -moz-transform:translateX(140px);
          -o-transform:translateX(140px);
          } 
/* 页码 */
.PageNumber{margin:0 50px 0 0;padding:20px 0 0 0}     
.PageNumber a{display:inline-block;
              margin-right:5px;
              padding:0 10px;
              line-height:30px;
              text-align:center;
              border-radius:2px;
              cursor:pointer;
              color:#333}     
.Active{background:#4c4c4c;color:#fff !important}
.CantUse{color:#AAB5BC !important;}                    
.FootContain{margin:auto;
             background:#fff;
             line-height:14px;
             padding:20px 0;
             }
.FootContain span{margin-right:20px;}
.FootContain i{margin-right:10px;}	
.Touchme{cursor:pointer;}
@media screen and (max-width: 1180px){
   aside{display:none !important;}
   .MainBody{transform:translateX(0px) !important;
   	         -webkit-transform:translateX(0px) !important;	
             -moz-transform:translateX(0px) !important;
             -o-transform:translateX(0px) !important;
             transition:transform 0s !important;
             -webkit-transition:transform 0s !important;
             -moz-transition:transform 0s !important;
             -o-transition:transform 0s !important; }    /* 很重要!imporant 因为这玩意耽误了一晚上时间 */
}
@media screen and (max-width: 870px){
   .MainBody{width:auto}
}
                    