{% extends 'nav.html' %}
{% block MainBody %}
    <div class="MainContain">
       <div class="KindContain">
           <div class="ChecKind">
                <a href="/home">
                  <span>全部</span>
                  <span>全部</span>
                </a>
           </div>
           {% for lable in lables %}
	         <div class="ChecKind">
                <a href="?lableId={{lable.id}}">
                <span>{{lable.title}}</span>
                <!-- style="transform:translateX(100%);" -->
                <span>{{lable.title}}</span>
                </a>
           </div>
           {% endfor %}
       </div>	           
       <!-- 文章部分 -->
       {% for article in articles %}
       <article class="WebLearn">
           <div class="ArclTitle">
           	  <h1>
                <a href="/home/read?articleId={{article.id}}" class="ArclLink">
                  {{article.title}}
                </a>
              </h1>
           </div>
           <div class="ArclTop">
               <span class="ArclKind">标签：{{article.lable}}</span>
               <span class="ArclTime">时间：{{article.addTime|date('Y-m-d')}}</span>
               <span class="ArclWrite">作者：{{article.writer}}</span>
               {% if article.copyInfo %}
               <span class="ArclMark">备注：{{article.addInfo}}自<i>{{article.copyInfo}}</i></span>
               {% else %}
               <span>备注：{{article.addInfo}}</span>
               {% endif %}
           </div>
           <div class="ArcComment">
                <span class="fa fa-comment-o fa-lg"></span>
                <i>{{article.comments}}</i>
           	    <span class="fa fa-eye fa-lg"></span>
           	    <i>{{article.views}}</i>
           </div>
           <div class="ArclMain">
               <div class="ArclSection">
                  <section>
                     <h2><span class="fa fa-pencil fa-lg"></span>float的历史</h2>
                      <p>float属性定义元素在哪个方向浮动。在最开始，float用于实现文字环绕图片效果。</p> 
                      <p>随着html的发展，网站的布局愈来愈多样化，float渐渐被用来实现横向排版，灵活的浮动给开发员带来了更多的布局灵感，它越来越受到青睐。</p>   
                  </section>
               </div>
               <div class="ArclSection">
                  <section>
                      <h2><span class="fa fa-pencil fa-lg"></span>float应用中的一些琐碎问题</h2>
                      <p>事物的发展总有其两面性，float在方便排版的同时也带来了一系列各种各样的问题。</p>
                      <p>其一，块级元素如果不设置float，它默认会撑满整个屏幕，而如果设置了float，则只会包裹住其内容。</p>
                      <p>其二，其中一个子元素使用float，其余也必须使用float，否则就会出现遮盖问题。</p>
                      <p>其三，若子元素全部使用float，而父元素没有设置高度，那么此时父元素高度会坍塌。这个问题也是float最令人烦恼的问题。</p>
                  </section>
               </div>
           </div>
           <div class="ArclBttom">
               <a href="/home/read?articleId={{article.id}}" class="ArclShow">展开全文</a>
           </div>
       </article>
       {% endfor %}
       <!-- 分页部分 -->
       <div class="PageNumber">
              {% if page <=1 %}
              <a href="javascript:;" class="CantUse">前页</a>
              {% else %}
              <a href="/home?page={{page-1}}">前页</a>
              {% endif %}
              <a class="Active">{{page}}</a>
              {% if page >= pages %}
              <a href="javascript:;" class="CantUse">后页</a>
              {% else %}
              <a href="/home?page={{page+1}}">后页</a>
              {% endif %}
       </div>
	</div>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
  <style type="text/css">
        footer{margin:20px 0 0 0;}
        .TheNav a:first-child .MenuAdd::before{opacity:1;left:-7px;} 
        .TheNav a:first-child .MenuAdd::after{opacity:1;right:-7px;} 
	</style>
{% endblock %}