{% extends 'nav.html' %}

{% block MainBody %}
    <div class="MainTop">
      	<img src="/public/images/record/cat.png">
        <div class="MonthModule">
      	  <div class="MonthChoose">
      			<span class="Monthes">May</span>
      		    <span class="HoverMon">May</span>
      		</div>
      	</div>
      	<div class="MonthModule">
      		<div class="MonthChoose">
      			<span class="Monthes">June</span>
      		    <span class="HoverMon">June</span>
      		</div>
      	</div>
      	<div class="MonthModule">
      		<div class="MonthChoose">
      			<span class="Monthes">July</span>
      		    <span class="HoverMon">July</span>
      		</div>
      	</div>
      	<div class="MonthModule">
      		<div class="MonthChoose">
      			<span class="Monthes">August</span>
      		    <span class="HoverMon">August</span>
      		</div>
      	</div>
      	<div class="MonthModule">
      		<div class="MonthChoose">
      			<span class="Monthes">Sept.</span>
      		    <span class="HoverMon">Sept.</span>
      		</div>
      	</div>
      	<div class="MonthModule">
      		<div class="MonthChoose">
      			<span class="Monthes">Oct.</span>
      		    <span class="HoverMon">Oct.</span>
      		</div>
      	</div>
    </div>
    <div class="MainContain">
        <div class="TimeEvent">
          <div class="Middle">
          	<div class="TimeLine"></div>
          </div>
          {% for record in records %}
          <div class="RecordModule">
          	<div class="RecordTime">
          	    <span class="anchor"></span>
          	    <span class="line"></span>
          	    <span class="weather">{{record.weather}}</span>
          	    <span class="separated">|</span>
          	    <span class="spirit">{{record.mood}}</span>
          	    <span class="separated">|</span>
          		<span class="time">{{record.addTime|date('F jS, Y')}}</span>
          	</div>
          	<div class="RecordBody">
          		<h3>{{record.title}}</h3>
              <p>{{record.content}}</p>
            </div>
          </div>
          {% endfor %}
          <!--  未完待续 -->
          <div class="RecordModule">
            <div class="RecordTime">
                <span class="anchor"></span>
                <span class="line"></span>
                <span class="weather loading"><i>Loading...(未完待续)</i></span>
            </div>
          </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/public/css/record.css">
    <script src="/public/js/record.js"></script>
    <style type="text/css">
        .TheNav a:nth-child(2) .MenuAdd::before{opacity:1;left:-7px;} 
        .TheNav a:nth-child(2) .MenuAdd::after{opacity:1;right:-7px;} 
    </style>
{% endblock %}